In [6]:
# 1. List five Python keywords and describe what they do.
#ans.Here are five common Python keywords and their functions:

#1. if
#- Used to conditionally execute a block of code based on a given condition.
#- Example:

x=12
if x > 10:
    print("x is greater than 10")

x is greater than 10

In [7]:
#2.for
#- Used to iterate over a sequence (like a list, tuple, or string) or execute a block of code a specific number of times.
#- Example:

for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
#3. def
# Used to define a function.
# Example:
     
def greet(name):
    print("Hello, " + name + "!")

greet("zain")

Hello, zain!

In [15]:
#4.in
#- Used to check if a value exists within a sequence or to iterate over a sequence.
#- Example:

fruits=["apple","banana","strawberry","melon"]
if "apple" in fruits:
    print("Apple is present")

Apple is present

In [16]:


#5. while:
#- Used to repeatedly execute a block of code as long as a given condition is true.
#- Example:

x=1     
while x < 10:
         print(x)
         x += 1

1
2
3
4
5
6
7
8
9

In [17]:
# 2. Write an expression to calculate the area of a rectangle with a length of 5 and width of 10.
#ans

area = 5 * 10
print(area)

50

In [18]:
# 3. Use the `is` keyword to check if two variables point to the same object
#ans
x = [1, 2, 3]
y = x

print(x is y) 

y = [1, 2, 3]  

print(x is y)

True
False

In [19]:
# 4. Write a Python expression that combines addition, subtraction, multiplication, and division.
#ans
result = (10 + 5) * (20 - 3) / (4 * 2)
print(result)

31.875

In [21]:
# 5. What is the output of `10 % 3`? Explain why.
#ans.The % operator in Python is called the modulo operator. It returns the remainder of the division operation.

10 % 3

1

In [23]:
# 6. Check the type of the value `3.14` in Python.
#ans.Decimal values has float type

type(3.14)

float

In [30]:
# 7. Convert the integer `10` to a float and a string. Print the results.
#ans
value = 10

float_value = float(value)
string_value = str(value)
print(float_value)
print(type(float_value)) 
print(string_value)
print(type(string_value))

10.0
<class 'float'>
10
<class 'str'>

In [32]:
#8. Write a statement to add two strings and print the result.
#ans
string1 = "Hello"
string2 = " World"

combined_string = string1 + string2
print(combined_string)

Hello World

In [34]:
#9. What data type would the result of `3 > 2` be?
#ans. boolean data type
type(3>2)

bool

In [37]:
#10. How can you convert a string "123" into an integer?
#ans.
string_value = "123"
integer_value = int(string_value)
print(integer_value)
print(type(integer_value))

123
<class 'int'>

In [38]:
# 11. Create a list of 5 elements and print the third element.
my_list = [10, 20, 30, 40, 50]
print(my_list[2])

30

In [40]:
# 12. Add a new element to a list called `my_list` using the `.append()` method.
my_list = [10, 20, 30, 40, 50]
my_list.append(42)
my_list

[10, 20, 30, 40, 50, 42]

In [42]:
# 13. Remove the last element from a list `my_list` using the `.pop()` method.
print(my_list)
my_list.pop()
my_list

[10, 20, 30, 40, 50]

[10, 20, 30, 40]

In [47]:
# 14. Create a tuple with four elements and try changing the second element. What happens?
#ans. tuple is immutable
my_tuple = (10, 20, 30, 40)

my_tuple[1] = 50
my_tuple.insert(1,50)

print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [48]:
# 15. Use slicing to get the last two elements from a list `[10, 20, 30, 40, 50]`.
#ans.
my_list = [10, 20, 30, 40, 50]
last_two_elements = my_list[-2:]
print(last_two_elements)

[40, 50]

In [49]:
# 16. Create a dictionary with keys 'name' and 'age' and values 'Alice' and 25.
my_dict = {'name': 'Alice', 'age': 25}
print(my_dict)

{'name': 'Alice', 'age': 25}

In [50]:
#17. Retrieve the value associated with the key 'name' from the dictionary you created in question 16.
#ans
my_dict = {'name': 'Alice', 'age': 25}

name = my_dict['name']
print(name)

Alice

In [51]:
#18. Check if the key 'name' exists in a dictionary.
#ans
my_dict = {'name': 'Alice', 'age': 25}

if 'name' in my_dict:
    print("The key 'name' exists in the dictionary.")
else:
    print("The key 'name' does not exist in the dictionary.")

The key 'name' exists in the dictionary.

In [52]:
# 19. What is the difference between a list and a set in Python?
#list
   # Allows duplicates: Can contain multiple identical elements.
   #  Uses square brackets [] to define: my_list = [1, 2, 3]

#set
    #Does not allow duplicates: Each element must be unique.
    #Uses curly braces {} to define: my_set = {1, 2, 3}

In [53]:
# 20. Convert a list `[1, 2, 3, 2, 1]` into a set and print the result.
my_list = [1, 2, 3, 2, 1]
my_set = set(my_list)
print(my_set)

{1, 2, 3}

In [54]:
#21. Write an `if` statement that prints 'Greater than 10' if a number is greater than 10.

number = 15

if number > 10:
    print('Greater than 10')

Greater than 10

In [55]:
#22. Write an `if-else` statement that checks if a number is positive or negative.
number = -5

if number > 0:
    print("The number is positive.")
else:
    print("The number is negative or zero.")

The number is negative or zero.

In [56]:
#23. Write an `if-elif-else` statement that checks if a number is positive, negative, or zero.

number = 0

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is zero.

In [57]:
#24. Create a Python program that takes an integer as input and prints 'Even' if it is even and 'Odd' if it is odd.
number = int(input("Enter an integer: "))

if number % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter an integer:  12

Even

In [59]:
# 25. Write a program that checks if a given year is a leap year.
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Enter a year:  2005

2005 is not a leap year.

In [61]:
#26. Use a nested `if` statement to check if a number is positive and even.
number = int(input("Enter a year: "))

if number > 0:
    if number % 2 == 0:
        print("The number is positive and even.")
    else:
        print("The number is positive but odd.")
else:
    print("The number is negative or zero.")

Enter a year:  13

The number is positive but odd.

In [62]:
#27. Write a program to check if a variable `x` is between 5 and 10.

x = 8

if 5 < x < 10:
    print("x is between 5 and 10")
else:
    print("x is not between 5 and 10")

x is between 5 and 10

In [66]:
# 28. Write an `if` statement that checks if a variable is a specific data type.
x = 10

if isinstance(x, int):
    print("x is an integer.")
else:
    print("x is not an integer.")

x is an integer.

In [67]:
# 29. Write a program that prints 'Pass' if a student's grade is 60 or higher, otherwise 'Fail'.
grade = 65

if grade >= 60:
    print("Pass")
else:
    print("Fail")

Pass

In [68]:
#30. Write an `if` statement that prints a message if a variable is empty.
my_string = ""

if not my_string:
    print("The string is empty.")
else:
    print("The string is not empty.")

The string is empty.

In [69]:
# 32. Write a `for` loop that calculates the sum of all numbers from 1 to 20.
#ans
sum = 0
for number in range(1, 21):
    sum += number

print("The sum of numbers from 1 to 20 is:", sum)

The sum of numbers from 1 to 20 is: 210

In [71]:
# 33. Use a `for` loop to iterate over a list of names and print each name.
names = ["Alice", "Bob", "Charlie", "David"]

for name in names:
    print(name)

Alice
Bob
Charlie
David

In [72]:
# 34. Write a program to print the squares of numbers from 1 to 10 using a `for` loop.
for number in range(1, 11):
    square = number ** 2
    print(square)

1
4
9
16
25
36
49
64
81
100

In [73]:
# 35. Use a `for` loop and `range()` to print all even numbers from 1 to 20.
for number in range(2, 21, 2):
    print(number)

2
4
6
8
10
12
14
16
18
20

In [74]:
# 36. Write a program that counts down from 10 to 1 using a `for` loop.
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [75]:
# 37. Create a list of fruits and use a `for` loop to print each fruit in uppercase.
fruits = ["apple", "banana", "orange", "grape"]

for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
ORANGE
GRAPE

In [76]:
#38. Write a `for` loop that prints the elements in a list along with their index.
my_list = ["apple", "banana", "cherry"]

for index, element in enumerate(my_list):
    print(index, element)

0 apple
1 banana
2 cherry

In [77]:
# 39. Use `range()` with three arguments to print every third number from 0 to 30
for number in range(0, 31, 3):
    print(number)

0
3
6
9
12
15
18
21
24
27
30

In [78]:
# 40. Write a program to calculate the factorial of a number using a `for` loop.
number = int(input("Enter a non-negative integer: "))

factorial = 1
if number < 0:
    print("Factorial is not defined for negative numbers.")
elif number == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, number + 1):
        factorial *= i
    print("The factorial of", number, "is", factorial)

Enter a non-negative integer:  13

The factorial of 13 is 6227020800

In [79]:
# 41. Use a `while` loop to print numbers from 1 to 5.
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [80]:
# 42. Write a program that keeps asking the user for a password until they enter '1234'.
password = ""
while password != "1234":
    password = input("Enter the password: ")

print("Password accepted.")

Enter the password:  1234

Password accepted.

In [81]:
#43. Write a `while` loop to find the sum of numbers from 1 to 100.
sum = 0
i = 1

while i <= 100:
    sum += i
    i += 1

print("The sum of numbers from 1 to 100 is:", sum)

The sum of numbers from 1 to 100 is: 5050

In [82]:
#44. Use a `while` loop to print the numbers in reverse from 10 to 1.
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [83]:
# 45. Write a `while` loop that prints only even numbers between 1 and 20.
i = 2
while i <= 20:
    print(i)
    i += 2

2
4
6
8
10
12
14
16
18
20

In [84]:
# 46. Create a `while` loop that stops once a number exceeds 100.
number = 0
while number <= 100:
    print(number)
    number += 10

0
10
20
30
40
50
60
70
80
90
100

In [85]:
# 47. Write a `while` loop that repeatedly removes the last element from a list until it's empty.
my_list = [1, 2, 3, 4, 5]

while my_list:
    last_element = my_list.pop()
    print(last_element)

5
4
3
2
1

In [87]:
# 48. Create a countdown timer that counts down from 10 to 1 using `while`.
import time

countdown = 10
while countdown > 0:
    print(countdown)
    countdown -= 1
    time.sleep(1)  

print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

In [88]:
# 49. Write a program that finds the first 10 multiples of 5 using a `while` loop.
multiple = 5
count = 1

while count <= 10:
    print(multiple)
    multiple += 5
    count += 1

5
10
15
20
25
30
35
40
45
50

In [89]:
# 50. Use a `while` loop to generate a list of the first 10 Fibonacci numbers.
fibonacci_list = [0, 1]
count = 2

while count <= 10:
    next_fib = fibonacci_list[-1] + fibonacci_list[-2]
    fibonacci_list.append(next_fib)
    count += 1

print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]