In [2]:
#1. Write a Python expression to calculate the area of a circle with radius r = 7.
r=7
# area of a circle with radius r = 7
area=3.14*r**2
print("area of circle with radius r=7 is",area)

area of circle with radius r=7 is 153.86

In [3]:
# 2. What will be the output of the expression 2 * 3 + 4?
result=2*3+4
print("the output of the expression is",result)

the output of the expression is 10

In [4]:
# 3. Calculate the result of (8 / 2) * (3 + 2).
result=(8 / 2) * (3 + 2)
print("the output of the expression is",result)

the output of the expression is 20.0

In [6]:
#4. Write an expression to find the remainder when 15 is divided by 4.
Remainder=15%4
print("the remainder is",Remainder)

the remainder is 3

In [9]:
#5. Write a Python expression to convert 100 Fahrenheit to Celsius using the formula: C = (F - 32) * 5/9.
#f==faranheit && c== celsius

f=100
c =(f - 32) * 5/9

print("faranheit", f" converted to celsius is", c)

faranheit  converted to celsius is 37.77777777777778

In [10]:
#6. Evaluate the expression: 10 // 3 + 2 ** 3.

result=10 // 3 + 2 ** 3
print("the result of the expression is",result)

the result of the expression is 11

In [12]:
# 7. What does the expression 5 == 5 and 4 < 6 evaluate to?
5 == 5 and 4 < 6

True

In [13]:
# 8. What is the output of not (4 > 5 or 3 == 3)?

4 > 5 or 3 == 3

True

In [14]:
# 9. Write an expression that checks if a number x is odd.

x=7
if  x % 2 != 0:
    print("x is odd")
else:
    print("x is even")

#the expression for checking odd is x % 2 != 0

x is odd

In [15]:
#DATATYPES

In [16]:
# 10. What is the type of the value 5.0?

x=5.0
type(x)

float

In [17]:
# 11. How do you convert the integer 42 to a string?

number=3
string=str(number)
print(string)
type(string)

3

str

In [18]:
#12. What will the expression str(3.14) + ' is pi' output?

print(str(3.14)+' is pi')

3.14 is pi

In [19]:
# 13. What is the output type of the expression 4 + 3.5?

r=4+3.5
print(r)
type(r)

7.5

float

In [21]:
# 14. Write a Python code to take an input from the user and convert it to an integer

input=int(input("enter the number"))
print(input)

enter the number 65

65

In [24]:
# 15. How can you find the type of a variable in Python?
#Ans.By using type() function.
x=4
y=4.5
k='string'

print(type(x))
print(type(y))
print(type(k))

<class 'int'>
<class 'float'>
<class 'str'>

In [25]:
# 16. Create a variable my_name and assign your name to it. Check if it is of type str.
#Ans.
my_name='zain'
type(my_name)

str

In [47]:
#Data Structures - Lists, Tuples, Sets, and Dictionaries

In [26]:
#17. How do you create an empty list in Python?
#Ans. a empty list can be made by'[]'
K=[]
print(K)

[]

In [29]:
# 18. Write code to add an element 42 to the end of the list [1, 2, 3].
#Ans
l=[1,2,3]
print(l)
l.append(42)
print("after adding 42 in list", l)

[1, 2, 3]
after adding 42 in list [1, 2, 3, 42]

In [32]:
# 19. How do you access the third element in the list my_list = [10, 20, 30, 40]?
#Ans.third element can be accessed by indexing of list

my_list=[10, 20, 30, 40]
print(my_list)

print("the third element od the list is",my_list[2])

[10, 20, 30, 40]
the third element od the list is 30

In [33]:
# 20. What is the difference between a list and a tuple in Python?
#Ans.
#list : list is mutable and is represented by'[]'
#tuple: tuple is immutable and represented by'()'

In [36]:
#21. Write a Python code to create a set with the elements 1, 2, and 3.
#ans. set is represented in '{}' and only unique number
set={1,2,3,}
set

{1, 2, 3}

In [39]:
#22. How do you remove an element from a set in Python?
#ans. to remove use set.remove()
set={1,2,3,4}
print(set)
#to remove nummber 3
set.remove(3)
print("after removing 3 from set",set)

{1, 2, 3, 4}
after removing 3 from set {1, 2, 4}

In [40]:
#23. Write code to retrieve the value of the key 'name' from the dictionary person = {'name': 'Alice','age': 25}.
#to retrieve a value from dictionary the expression is 'dictionary_name['key_name']

person = {'name': 'Alice','age': 25}
print(person['name'])

Alice

In [44]:
#24. Create a dictionary with three key-value pairs and then remove one pair from it
#ans, to remove use del function
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Remove the 'city' key-value pair
del my_dict['city']

print(my_dict)

{'name': 'Alice', 'age': 25}

In [46]:
# 25. Given my_tuple = (5, 10, 15), how can you access the element 10?
#ans. to access 10 we use tuple[1]
my_tuple = (5, 10, 15)
print(my_tuple[1])

10

In [48]:
#Methods of Data Structures

In [50]:
#26. How do you find the length of a list numbers = [1, 2, 3, 4, 5]?
#ans. by using len() function
numbers = [1, 2, 3, 4, 5]
print("the length of the list is",len(numbers))

the length of the list is 5

In [54]:
# 27. What method would you use to add an element at a specific index in a list?
#ans. by using insert() function
numbers = [1, 2, 3, 4, 5]
print(numbers)
#to insert 6 on index 3
numbers.insert(3,6)
print("after inserting 6 on 3rd index",numbers)

[1, 2, 3, 4, 5]
after inserting 6 on 3rd index [1, 2, 3, 6, 4, 5]

In [56]:
#28. Write a Python code to sort the list [4, 1, 3, 2] in ascending order.
#ans. to sort use sort() function
list =[4, 1, 3, 2]
print(list)
#to print in ascending keep reverse=false or leave blank
list.sort(reverse=False)
list

[4, 1, 3, 2]

[1, 2, 3, 4]

In [58]:
# 29. How do you check if the number 5 is in the list [1, 2, 3, 4, 5]?
#ans by using if loop we can apply two ore more condition
list= [1, 2, 3, 4, 5]
if 5 in list:
    print("5 is present in list")
else:
    print("5 is not present in list")

5 is present in list

In [60]:
#30. Write a code to concatenate two lists [1, 2, 3] and [4, 5, 6].
#ans. using '+'

list1=[1, 2, 3]
print("list 1=",list1)
list2=[4, 5, 6]
print("list 2=",list2)
list3=list1+list2
print("list1 + list2 =",list3)

list 1= [1, 2, 3]
list 2= [4, 5, 6]
list1 + list2 = [1, 2, 3, 4, 5, 6]

In [61]:
# 31. Write a Python if statement to check if a number x is positive.
#ans
x=6
if x>0:
    print("the number is positive")
else:
    print("the number is negative or zero")

the number is positive

In [76]:
# 32. Modify the previous question to include else to handle the case when x is negative or zero
#Ans.
x=0
if x>0:
    print("the number is positive")
elif x==0:
        print("the number is  zero")
else:
    print("the number is negative")

the number is  zero

In [78]:
# 33. Write an if-elif-else block to check if a number is positive, negative, or zero
x=-1
if x>0:
    print("the number is positive")
elif x==0:
        print("the number is  zero")
else:
    print("the number is negative")

the number is negative

In [79]:
# 34. How would you use a ternary operator to assign the value 10 to result if x > 5, otherwise assign5?
#ans
x = 7
result = 10 if x > 5 else 5

print(result)

10

In [80]:
# 35. Write an if statement that checks if a variable score is greater than or equal to 90, and if so, prints 'A grade'.

score = 95

if score >= 90:
    print("A grade")

A grade

In [81]:
# 36. Use an if statement to check if a list fruits = ['apple', 'banana', 'cherry'] contains the element 'banana'.
#ans
fruits = ['apple', 'banana', 'cherry']

if 'banana' in fruits:
    print("The list contains 'banana'")
else:
    print("The list does not contain 'banana'")

The list contains 'banana'

In [82]:
#37. Write a nested if statement that prints 'Adult Male' if age > 18 and gender == 'male'
#ans
age=20

if age>18:
    print("Adult male")
else:
    print("young male")

Adult male

In [83]:
#38.Create a Python code snippet using if statements to determine if a number is divisible by 3, 5, or both.
#ans.
number = 15  

if number % 3 == 0 and number % 5 == 0:
    print("The number is divisible by both 3 and 5.")
elif number % 3 == 0:
    print("The number is divisible by 3.")
elif number % 5 == 0:
    print("The number is divisible by 5.")
else:
    print("The number is not divisible by 3 or 5.")

The number is divisible by both 3 and 5.

In [84]:
# 39. Write an if condition that checks if a string name is not empty and prints 'Name is provided'.
#ans,
name = "Alice"  

if name:
    print("Name is provided")
else:
    print("Name is not provided")

Name is provided

In [85]:
#40. Use an if statement to check if a variable age is within the range 18 to 25 inclusive.
age = 22

if 18 <= age <= 25:
    print("Age is within the range 18-25")
else:
    print("Age is not within the range 18-25")

Age is within the range 18-25